body{
    margin: 0;
    padding: 0;
}
.container{
   position: static;
   height: 100%;
   
}
    .blok1{ 
        width:76%;
        height: 15%;
        display: flex;
        position: absolute;
        left: 24%;
        top:10px;

        background: rgba(255, 255, 255, 0.90);
    }
.course{
    padding: 10px;
    color: #17ACAC;
    font-size: 30px;
    font-family:sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    word-wrap: break-word;
    position: absolute;
    left: -14%;
}

.menu ul a{
    text-decoration: none;
}
.menu{
    height: 100%;
    width: 100%;
    display: inline;
    padding: 0 70px;
}
.menu  li{
    display: inline;
    height: 100%;
    margin-right: 30px;
    position: relative;
    display: inline;
    color: #444444;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    word-wrap: break-word;
    font-family:sans-serif;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.menu  li:after{
    content:" ";
    position: absolute;
    width: 0%;
    height: 1px;
    display: inline;
    transition: all 0.3s ease;
    bottom: 1%;
}
.menu  li:hover::after{
    width: 100%;
    height: 1px;
    left: 1%;
    border:1px solid  #17ACAC;
    background-color: #17ACAC;
    
}
.LoginButton{
    margin: 15px;
    border: none;
    font-size:18px;
    border-bottom:2px solid #17ACAC;
    background: none;
    outline: none;
    cursor: pointer;
    color: #2C7575;
}
.RegisterButton{
    margin: 15px;
    padding: 8px;
    border: none;
    font-size:18px;
    background: #0E8585; 
    outline: none;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
}
.LS{
    width: 100%;
}
.LS span i{
    padding: 10px;
    color: #0E8585;
    font-size:22px;
}
.blok2{
    width:70%;
    position: absolute;
    top: 27%;
    left:30%;
    
}
.search input{
    width: 50%;
    height: 40px;
    outline: #0E8585;
    border: 2px solid #0E8585;
    padding: 20px;
    border-radius: 5px;
    top:5%;
    position: absolute;

}
.search input::placeholder{
    font-size: 15px;
    color: #0E8585;
}
.SearchButton{
    position: absolute;
    margin: 0;padding: 0;
    width:5%;
    left: 45%;
    top: 7px;
    height: 42px;
    border: none;
    background: #0E8585;
    border-radius:0 5px 5px 0;
}
.SearchButton i{
    font-size: 18px;  
}
.Explore{
    position: relative;
    top: 32px;
    margin: 30px;
    color: #007E7E;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    word-wrap: break-word
}
.VisitButton{
    position: absolute;
    left:20%;
    top: 129%;
    width:15%;
    height:40px;
    font-size: 18px;
    background-color: #007E7E;
    color: #f9f6f6;
    font-family: sans-serif;
    border: none;
    outline: none;
    border-radius: 5px;
}
.rightone{
    position: absolute;
    top:0%;
    left:100%;
}

.picsec{
    position: absolute;
    top: 34%;
}
.girl{
    position: absolute;
    left:98%;
    top:-7%;
    z-index: 1;
    
}
.multicourse{
    width: 100%;
    height: 60px;
    background-color: #ececec;
    position:absolute;
    top: 100%;
    left: 0%;
}
.multicourse span a{
    margin: 10px;
    padding-right: 50px;
    position: relative;
    left: 10%;
}
.popular{
    position: absolute;
    top: 108%;
    width: 100%;
    height: 100%;
}
.popular h2{
    position: absolute;
    top: 20px;
    left: 50px;
    font-family: sans-serif;
    font-size: 25px;
    color: #17ACAC;
}
.pcourses{
    position: absolute;
    left:58%;
    top: 15%;
    font-family: sans-serif;
    color: #2C7575;
}
.freecourses{
    position: absolute;
    left:70%;
    top: 15%;
    font-family: sans-serif;
    color: #2C7575;
}
.paidcourses{
    position: absolute;
    left:79%;
    top: 15%;
    font-family: sans-serif;
    color: #2C7575;
}
.sort{
    position: absolute;
    left:88%;
    top: 15%;
    font-family: sans-serif;
    color: black;
}
.lowtohigh{
    position: absolute;
    left:91%;
    top: 15%;
    font-family: sans-serif;
    color: black;
}
.lowtohigh span{
    font-size: 13px;
    color: #007E7E;
}
.cartconatiner{
   width: 100%;
   height: 70%;
   position: absolute;
   top:25%;
   background: #F8F5F5; box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25)
}
.cart1{
    width: 20%; 
    height: 80%;
    position: absolute;
    top: 10%;
    left:10%;
     background: #F8F8F8; 
     box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.25);
}